<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Instructor Questions</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/js/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- jQuery -->
    <script src="../static/js/jquery/dist/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <!-- Custom CSS -->
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">

    <!-- Our CSS -->
    <link href="../static/css/content.css" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background-color:#161616">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="#"><img alt="GlibGlab" src="../static/images/Glogowhite.png" height="100%"></img></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#" onClick="viewClass('bgg')">Page 1</a></li>
                <li><a href="#">Page 2</a></li> 
                <li><a href="#">Page 3</a></li> 
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

        <!-- Page Content -->
<div id="page-content-wrapper">
<!--
<div class="container-fluid" id="question-view">
<div class="row">
    <div class="col-sm-12">
        <div class="question-container">
            wat
        </div>
    </div>
</div>
</div>-->
    
    
    
    
<div class="container-fluid" id="class-view">
    
<div class="row">
    <div class="col-xs-12">
        <center>
        <div class="form-group">
            <label for="comment"><H2>Ask A Question</H2></label>
            <textarea class="form-control" rows="5" id="newQuestion"></textarea>
        </div>
                <button type="button" class="btn btn-secondary" onClick="addQuestion()">Ask Question...</button>

        </center>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="bd-example">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background: linear-gradient(rgba(180, 180, 180, .9), rgba(200, 200, 200, .8));"><!--rgba(200, 200, 200, 0.9);">-->
                        
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel"><center>Ask Question</center></h4>
                        </div>
                        
                        <div class="modal-body">
                            <!--<form>
                                <div class="form-group">
                                    <label for="add-class-name" class="form-control-label">Class:</label>
                                    <input type="text" class="form-control" id="add-class-name">
                                </div>
                                <div class="form-group">
                                    <label for="add-class-instructor" class="form-control-label">Instructor:</label>
                                    <input type="text" class="form-control" id="add-class-instructor">
                                </div>
                                <div class="form-colors">
                                    <label for="add-class-color" class="form-control-label">Class Color:</label>
                                    <div class="form-colors-selection">
                                        <div class="form-color color1" id="color1" onClick="setColor('color1')" onfocus="setColor('color1')" tabindex="0"></div>
                                        <div class="form-color color2" id="color2" onClick="setColor('color2')" onfocus="setColor('color2')" tabindex="0"></div>
                                        <div class="form-color color3" id="color3" onClick="setColor('color3')" onfocus="setColor('color3')" tabindex="0"></div>
                                        <div class="form-color color4" id="color4" onClick="setColor('color4')" onfocus="setColor('color4')" tabindex="0"></div>
                                        <div class="form-color color5" id="color5" onClick="setColor('color5')" onfocus="setColor('color5')" tabindex="0"></div>
                                        <div class="form-color color6" id="color6" onClick="setColor('color6')" onfocus="setColor('color6')" tabindex="0"></div>
                                        <div class="form-color color7" id="color7" onClick="setColor('color7')" onfocus="setColor('color7')" tabindex="0"></div>
                                        <div class="form-color color8" id="color8" onClick="setColor('color8')" onfocus="setColor('color8')" tabindex="0"></div>
                                    </div>
                                    <!--<input type="text" class="form-control" id="add-class-color">
                                </div>
                            </form>-->
                            
                            
                        </div>
                        
                        <div class="modal-footer">
                            <div class="form-left-footer">
                                <!-- For any other elments we want on the left side of the footer -->
                            </div>
                            <div class="form-right-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-success" onclick="addClass()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  <!--End Row 1 -->

    <!-- ##### Find a better way of adding white vertical space -->

<div class="row">
        <!--<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">Add Class...</button>-->
    <div class="col-xs-12">
        <div class="container-fluid" id="question_list">
            
        </div>
    </div>
</div> 


</div>  <!-- End container-fluid -->
</div>  <!-- End page-content-wrapper -->
        

    
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
<script>
    var node = document.createElement("div");
    var newClassColor = "";
    var highlightColor;
    
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    
    
    
    function setColor(colorName) {
        
        var colorButton = document.getElementById(colorName);//.style.backgroundColor;
        
        //colorButton.style.backgroundColor = "rgb(250,250,250)";
        newClassColor = window.getComputedStyle(colorButton, null).getPropertyValue("background-color");
        for(var i=1; i < 9; i++) {
            document.getElementById("color" + i).style.borderRadius = '25px';
            document.getElementById("color" + i).style.width = '10%';
            document.getElementById("color" + i).style.borderColor = "#333333";
            document.getElementById("color" + i).style.borderWidth = "1px";
        }

        colorButton.style.borderRadius = '0px';
        colorButton.style.borderWidth = '4px';
        colorButton.style.width = '14%';
        colorButton.style.borderColor = "#DDDDDD";

    }
    
    function addQuestion(){
        var node = document.createElement("div");
        var newQuestion = document.getElementById('newQuestion').value;
        console.log(newQuestion);
        
        
        
        
        
        
        
    }
    
    function addClass() {
        var node = document.createElement("div");
        console.log(newClassColor);
        var newClass = document.getElementById('add-class-name').value;
        var newInstructor = document.getElementById('add-class-instructor').value;
        

        if (newInstructor != "" && newClass != "") {
            //document.body.style.backgroundColor = color;/*
            node.className = "class-container";
            $('#myModal').modal('hide');
            console.log(newClassColor);
            node.style.backgroundColor = newClassColor;
            node.innerHTML = "<div class='class-info' onClick=viewClass('" + newClass + "')><div class='class-name'><p style='font-size:32px'>" + newClass + "</p></div><div class='class-notes'><p style='font-size:20px'>" + newInstructor + "</p></div></div>";
            
            $("#class_list").append(node);
        }
    }
    
    function viewClass(className) {

        var classView = document.getElementById('class-view');      //get list of classes
        classView.style.visibility = 'hidden';                      //hide them
        
        var newQuestion = document.createElement("div");
        
        var classNotes = document.getElementById(className);        //
        var newClassColor = window.getComputedStyle(colorButton, null).getPropertyValue("background-color");
        console.log(newClassColor);

    }    
    


</script>

</body>

</html>
